{% extends 'home/base.html' %}
{% load static %}

{% block style %}
    <link type="text/css" href="{% static 'home/css/sliders.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'home/css/pagenation.css' %}" rel="stylesheet"/>
    <link type="text/css" href="{% static 'home/css/carousel.css' %}" rel="stylesheet"/>
{% endblock %}

{% block home_page %}
        <!-- Большой слайдер на главной -->
        {% include 'home/includes/big_slider.html' %}
<br>
        <!-- Карусель с брендами -->
        {% include 'home/includes/carousel.html' %}
        <br><hr>
        <!-- Слайдеры со шмотками -->
        {% include 'home/includes/product_show.html' %}
        <!-- Тут слайдер закончился -->

{% endblock %}