.carousel-item-photo {
    position: relative;
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: none;
    float: left;
    margin-right: -100%;
    backface-visibility: hidden;
}

.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-inner {
   height: 310px;
}

.carousel-control-next-icon,.carousel-control-prev-icon {
    background-color: #ee2761;
}

.gallery-item { opacity: 0.5; }
.gallery-item.active_slider { opacity: 1; }

/*-----------*/
