<section class="product__section section--padding pt-0">
    <div class="container-fluid">
        <div class="tab_content">
            <div id="featured" class="tab_pane active show">
                <div class="product__section--inner">
                    <div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-2 mb--n30">
                    {% for key, value in ProdAndPhoto.items %}
                        <div class="col mb-30">
                            <div class="product__items">
                                <div class="product__items--thumbnail">
                                    {% if user.is_staff %}
                                        <a class="product__items--link" href="{% url 'edit_product' key.id %}">
                                    {% else %}
                                        <a class="product__items--link" href="{% url 'product_details' key.id %}">
                                    {% endif %}
                                    <!--Тут фотки из слайдера-->

<!------------------------------------------------------------------------------------------------------------->

                                        <td class="tab-photo" >
                                          <div id="a{{ key }}" class="carousel slide">
                                            <div class="carousel-indicators">
                                              <button type="button" data-bs-target="#a{{ key }}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                              <button type="button" data-bs-target="#a{{ key }}" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                              <button type="button" data-bs-target="#a{{ key }}" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                              <button type="button" data-bs-target="#a{{ key }}" data-bs-slide-to="3" aria-label="Slide 4"></button>
                                            </div>
                                            <div class="carousel-inner">
                                              {% for photo in value %}
                                                {% if photo == value|first %}
                                                <div class ="carousel-item active">
                                                    <img src = "/media/{{photo}}" class ="d-block w-100" alt="" >
                                                  </div>
                                                {% else %}
                                                    <div class ="carousel-item">
                                                      <img src = "/media/{{photo}}" class ="d-block w-100" alt="" >
                                                    </div>
                                                {% endif %}
                                              {% endfor %}
                                            </div>
                                            <button class="carousel-control-prev" type="button" data-bs-target="#a{{ key }}" data-bs-slide="prev">
                                              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                              <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" data-bs-target="#a{{ key }}" data-bs-slide="next">
                                              <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                              <span class="visually-hidden">Next</span>
                                            </button>
                                          </div>
                                        </td>
<!------------------------------------------------------------------------------------------------------------->
                                    </a>
                                    <!--Описание товара-->
                                    <div class="product__badge">
                                        {% if key.Product_sale %}
                                            <span class="product__badge--items sale">Распродажа</span>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="product__items--content">
                                    <h3 class="product__items--content__title h4"><a href="product-details.html">{{ key.Name_product }}</a></h3>
                                    <div class="product__items--price">
                                        <span class="current__price">Гендр: {{ key.Product_gender }} </span>
                                        <span class="current__price">Цена: {{ key.Product_price }} ₽</span>
                                       <!-- <span class="price__divided"></span>
                                        <span class="old__price">$78</span> --> <br>
                                        <span class="current__price">арт: {{ key.Product_code }}</span>
                                    </div>
                                    <ul class="rating product__rating d-flex">

                                    </ul>
                                    <ul class="product__items--action d-flex">
                                        <li class="product__items--action__list">
                                            {% if user.is_staff %}
                                                <a class="product__items--action__btn add__to--cart" href="{% url 'delete_product' key.id %}">
                                                    <span class="add__to--cart__text"> Удалить этот товар </span>
                                                </a>
                                            {% else %}
                                                <a class="product__items--action__btn add__to--cart" href="#">
                                                    <svg class="product__items--action__btn--svg" xmlns="http://www.w3.org/2000/svg" width="22.51" height="20.443" viewBox="0 0 14.706 13.534">
                                                        <g transform="translate(0 0)">
                                                          <g>
                                                            <path data-name="Path 16787" d="M4.738,472.271h7.814a.434.434,0,0,0,.414-.328l1.723-6.316a.466.466,0,0,0-.071-.4.424.424,0,0,0-.344-.179H3.745L3.437,463.6a.435.435,0,0,0-.421-.353H.431a.451.451,0,0,0,0,.9h2.24c.054.257,1.474,6.946,1.555,7.33a1.36,1.36,0,0,0-.779,1.242,1.326,1.326,0,0,0,1.293,1.354h7.812a.452.452,0,0,0,0-.9H4.74a.451.451,0,0,1,0-.9Zm8.966-6.317-1.477,5.414H5.085l-1.149-5.414Z" transform="translate(0 -463.248)" fill="currentColor"></path>
                                                            <path data-name="Path 16788" d="M5.5,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,5.5,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,6.793,478.352Z" transform="translate(-1.191 -466.622)" fill="currentColor"></path>
                                                            <path data-name="Path 16789" d="M13.273,478.8a1.294,1.294,0,1,0,1.293-1.353A1.325,1.325,0,0,0,13.273,478.8Zm1.293-.451a.452.452,0,1,1-.431.451A.442.442,0,0,1,14.566,478.352Z" transform="translate(-2.875 -466.622)" fill="currentColor"></path>
                                                          </g>
                                                        </g>
                                                    </svg>
                                                    <span class="add__to--cart__text"> + Добавить </span>
                                                </a>
                                            {% endif %}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Тут слайдер закончился -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>