{% extends 'home/base.html' %}
{% load static %}

{% block style %}
    <link type="text/css" href="{% static 'auth_user_do/css/user.css' %}" rel="stylesheet"/>
{% endblock %}

{% block home_page %}
<div class="registration-cssave">
    <br>
      <h3 class="text-center">Восстановление пароля</h3>
      <form class="text-center" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="primary__btn" type="submit">Отправить</button>
      </form>
    <br>
</div>
{% endblock %}
