{% extends 'home/base.html' %}
{% load static %}
{% block home_page %}
{% block style %}
    <link type="text/css" href="{% static 'home/css/sliders.css' %}" rel="stylesheet"/>
{% endblock %}
<!-- my account section start -->
<section class="my__account--section section--padding">
  <div class="container">

                <!--slider-for-cart-->
                  {% include 'includes/product_show.html' %}
                <!--slider-for-cart-->

  </div>
</section>
      <!-- my account section end -->

        <!-- Start shipping section -->

        <!-- End shipping section -->

{% endblock %}