{% extends 'home/base.html' %}
{% load static %}

    {% block style %}
<link type="text/css" href="{% static 'modersite/css/moderstyle.css' %}" rel="stylesheet"/>
    {% endblock %}

{% block home_page %}
<div class="container-forms">
    <div class="add_product_params">
       {% include 'includes/add_product.html' %}
    </div>
    <div class="add_product_params back-color">
        <form class="input-data" action="{% url 'brand' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        {{ FormAddBrand }} </br>
            <button class="primary__btn" type="submit">Добавить</button>
            <br><br>
            {% for b in Brands %}
            <a class="fa-solid fa-trash" href="{% url 'delete' 'Brands' b.id %}"></a>  {{ b.brand_name }}<br>
            {% endfor %}
        </form>
    </div>
    <div class="add_product_params back-color">
        <form class="input-data" action="{% url 'type_product' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        {{ FormAddProductType }} </br>
            <button class="primary__btn" type="submit">Добавить</button>
            <br><br>
            {% for pt in ProdType %}
            <a class="fa-solid fa-trash" href="{% url 'delete' 'ProdType' pt.id %}"></a>  {{ pt.Type }}<br>
            {% endfor %}
        </form>
    </div>
    <div class="add_product_params back-color">
        <form class="input-data" action="{% url 'age_category' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        {{ FormAddAgeCategory }} </br>
            <button class="primary__btn" type="submit">Добавить</button>
            <br><br>
            {% for ag in AgeCategories %}
            <a class="fa-solid fa-trash" href="{% url 'delete' 'AgeCategories' ag.id %}"></a>  {{ ag.Age_range }}<br>
            {% endfor %}
        </form>
    </div>
    <div class="add_product_params back-color">
        <form class="input-data" action="{% url 'size' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        {{ FormAddSize }} </br>
            <button class="primary__btn" type="submit">Добавить</button>
            <br><br>
            {% for s in Sizes %}
            <a class="fa-solid fa-trash" href="{% url 'delete' 'Size' s.id %}"></a>  {{ s.size_range }}<br>
            {% endfor %}
        </form>
    </div>


    <div class="add_product_params back-color">
        <form class="input-data" action="{% url 'textile' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        {{ FormAddTextile }} </br>
            <button class="primary__btn" type="submit">Добавить</button>
            <br><br>
            {% for s in Textiles %}
            <a class="fa-solid fa-trash" href="{% url 'delete' 'Textile' s.id %}"></a>  {{ s.textile_name }}<br>
            {% endfor %}
        </form>
    </div>
</div>

{% include 'includes/product_show.html' %}

{% endblock %}
