{% extends 'home/base.html' %}
{% load static %}
{% block home_page %}
{% block style %}
    <link type="text/css" href="{% static 'home/css/sliders.css' %}" rel="stylesheet"/>
{% endblock %}
<!-- my account section start -->
<section class="my__account--section section--padding">
  <div class="container">
      {% if status == 5 %}
      <h3>Исполненные заказы</h3>
      {% else %}
      <h3>Новые заказы</h3>
      {% endif %}
      <br>



                <!--slider-for-cart-->
                  {% include 'users/includes/product_show.html' %}
                <!--slider-for-cart-->

  </div>
</section>
      <!-- my account section end -->
{{ quantity_of_goods }}
        <!-- Start shipping section -->

        <!-- End shipping section -->

{% endblock %}